:root {
  --oro: #e3a765;
  --amarillo: #fdd000;
  --crema: #f2efe2;
  --gris: #2c3137;
  --negro: #1b1e23;
  letter-spacing: 1.1px;

}

body {
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: var(--gris);
  color: var(--negro);
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
